.book-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: translateX(60px);
}

.book-now-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  width: fit-content;
  padding: 8px 18px;

  background: #ff385c;
  color: white;
  text-decoration: none;

  border-radius: 10px;
  font-weight: 500;

  transition: 0.2s ease;
}

.book-now-btn:hover {
  background: #e03150;
  transform: scale(1.03);
}


/* Light theme (default) */
input[type="date"] {
  color-scheme: light;
}

/* Dark theme */
.dark-theme input[type="date"] {
  color-scheme: dark;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
}

/* Focus style */
input[type="date"]:focus {
  outline: none;
  border: 2px solid #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}