<% layout("/layouts/boilerplate") %>

<h2><b>Book :</b> <%= listing.title %></h2>

<form id="bookingForm">
<label>Check In</label>

<input type="date" id="checkIn"name="checkIn"
class="form-control"
required>

<br>
<label>Check Out</label>

<input 
type="date"
id="checkOut"
name="checkOut"
class="form-control"
required>

<br>
<label>Guests</label>

<input type="number"id="guests" name="guests"
class="form-control"
required>

<br>
<button type="button"id="payBtn" class="btn btn-success"> Continue to Payment</button>
</form>



