<% layout("/layouts/boilerplate") %>

<div class="container py-5 info-page">
<h1>Help Center</h1>

<h3>For Guests</h3>
<ul>
<li>Finding a stay</li>
<li>Managing bookings</li>
<li>Leaving reviews</li>
</ul>

<h3>For Hosts</h3>
<ul>
<li>Creating listings</li>
<li>Updating property details</li>
<li>Managing availability</li>
</ul>
</div>