<% layout("/layouts/boilerplate") %>

<div class="container py-5 info-page">
<h1>Terms & Conditions</h1>

<h3>User Responsibilities</h3>
<p >
Users must provide accurate information while using Rentora.
</p>

<h3>Prohibited Actions</h3>
<ul>
<li>Fake listings</li>
<li>Fraud or illegal activities</li>
<li>Harassment of users</li>
</ul>

<h3>Account Suspension</h3>
<p>
Accounts violating the terms may be restricted.
</p>
</div>