<% layout("/layouts/boilerplate") %>
<div class="auth-page"></div>

<div class="container py-5">
    <div class="auth-container">

        <!-- Left Side -->
        <div class="auth-form-section">

            <h1>Welcome back</h1>
            <p class="subtitle">
                Log in to continue your journey
            </p>

            <form action="/login" method="POST" class="needs-validation" novalidate>

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input
                        type="text"
                        name="username"
                        class="form-control custom-input"
                        placeholder="Enter your username"
                        required
                    >
                </div>

                <div class="mb-4">
                    <label class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control custom-input"
                        placeholder="Enter your password"
                        required
                    >
                </div>

                <button class="btn login-btn w-100">
                    Log In
                </button>

                

                <p class="signup-text">
                    New to Rentora?
                    <a href="/signup">Create an account</a>
                </p>

            </form>

        </div>

        <!-- Right Side -->
        <div class="auth-image-section">
            <img
                src="/images/dashboard2.png"
                alt="Luxury House"
            >
           
        </div>

    </div>

</div>
</div>
